@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Black background */
  color: #ffffff; /* Purple font color */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

button {
  background-color: #ffffff; /* Purple background for buttons */
  color: #000000; /* White text for buttons */
}

header, footer {
  text-align: center;
  padding: 10px 0;
  background-color: #000000; /* Slightly lighter black for header and footer */
}
